.theme-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #002247;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle-button:hover {
  background-color: #00255D;
}

.theme-icon {
  width: 24px;
  height: 24px;
}
