body.dark-mode {
    background-color: #00255D;
    color: white;
  }

  /* Estilos específicos para los componentes en modo oscuro */
  body.dark-mode .contenedor-tabla {
    background-color: #1e1e1e;
    color: white;
  }
  
  body.dark-mode .navbar-light.bg-light {
    background-color: #333 !important;
  }
  
  body.dark-mode .form-control {
    color: black;
  }
  
  

  body.dark-mode .titulo-home, label{
    color: black;
  }

  body.dark-mode .formulario{
    background-color: rgb(255, 255, 255);
  }

  .dark-mode .cuerpo-contenedor{
    background-color: #00255D;
  }

  .btn-primary{
    background-color: #00255D;
  }

  .theme-toggle-button{
    background-color: #00255D;
  }

body.dark-mode label{
  color: white;
}

.dark-mode .labelHome{
  color: black;
}

.dark-mode .labeRegister{
  color: black;
}