body {
    padding: 5%;
    background-color: rgb(218, 218, 218);
}

.contenedor-tabla {
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(244, 243, 243);
    border-radius: 20px;
    border-color: rgb(3, 3, 3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Ajusta según sea necesario */
}