body {
    padding: 3%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

  
  .tab-content {
    margin-top: 20px;
    display: flex;
  }
  
  .btn-link {
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-link:hover {
    text-decoration: underline;
  }

  .component-class {
    background-color: inherit; 
    color: inherit; 
  }

  
  /* Sidebar Styles */
.sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #002247;
  padding-top: 20px;
  color: white;
}

.sidebar h1 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar .nav-link {
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #00255D;
  color: white;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

/* Dark Mode for Sidebar */
body.dark-mode .sidebar {
  background-color: #333;
}

body.dark-mode .sidebar .nav-link {
  color: white;
}

body.dark-mode .sidebar .nav-link:hover,
body.dark-mode .sidebar .nav-link.active {
  background-color: #00255D;
  color: white;
}

.btn-primary{
  background-color: #002247;
  border-color: #00255D;
}

.btn-primary:hover{
  background-color: #00255D;
}

@media (min-width: 992px) {
  .cuerpo-contenedor {
    flex-direction: row;
  }

  .sidebar {
    display: block;
  }

  .navbar {
    display: none;
  }
}