body {
    padding: 3%;
    background-color: rgb(255, 255, 255);
}

  
  .tab-content {
    margin-top: 20px;
  }
  
  .btn-link {
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-link:hover {
    text-decoration: underline;
  }

  .component-class {
    background-color: inherit; /* Otras propiedades de estilo pueden ir aquí */
    color: inherit; /* Asegúrate de usar inherit para que tome los estilos globales */
  }